@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'font';
@import 'reset';
@layer base {
  * {
    box-sizing: border-box;
  }
  html,
  body {
    height: 100%;
  }
  body {
    font: 14px 'PoppinsRegular';
    line-height: 1.5;
    color: #777;
    background-color: #fff;
  }
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.arrow--right,
.arrow--left {
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px !important;
  height: 50px !important;
}
.arrow--right:hover,
.arrow--left:hover {
  color: #fcb941;
}
.arrow--right {
  right: 5px !important;
}

// ------------------TAB FEATURED------------------
.nav-link:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #fcb941;
  transform-origin: right center;
  transform: scale(0, 1);
  transition: transform 0.3s ease;
}
.feature .nav-link:before {
  background-color: #333;
  height: 1.2px;
}
.nav-link.active:before {
  transition: 0.3s;
  background-color: #fcb941;
  transform-origin: left center;
  transition: transform 0.3s ease;
  transform: scale(1, 1);
}
.feature .nav-link.active:before {
  background-color: #333;
  height: 1.2px;
}

//-------------------STARS-------------------
.btn-expandable span {
  position: absolute;
  right: 100%;
  top: 0;
  bottom: 0;
  align-items: center;
  display: inline-flex;
  font-weight: 300;
  white-space: nowrap;
  letter-spacing: 0;
  min-width: 50px;
  padding-left: 15px;
  padding-right: 5px;
  color: #fff;
  background-color: #fcb941;
  transition: all 0.35s ease;
  opacity: 0;
  visibility: hidden;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  transform: translateX(15px);
  z-index: -1;
}

.btn-expandable:hover span,
.btn-expandable:focus span {
  transition: all 0.35s ease;
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}
.btn-expandable:hover,
.btn-expandable:focus {
  transition: all 0.35s ease;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
// ------------------SLIDER------------------
[class^='number-slide'],
[class*=' number-slide'] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 300px;
  max-height: 100vh;
}

.number-slide1 {
  background: rgb(64, 175, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 175, 255, 1) 0%,
    rgba(63, 97, 255, 1) 100%
  );
}

.number-slide2 {
  background: rgb(255, 75, 64);
  background: linear-gradient(
    128deg,
    rgba(255, 154, 63, 1) 0%,
    rgba(255, 75, 64, 1) 100%
  );
}

.number-slide3 {
  background: rgb(182, 255, 64);
  background: linear-gradient(
    128deg,
    rgba(182, 255, 64, 1) 0%,
    rgba(63, 255, 71, 1) 100%
  );
  background: linear-gradient(
    128deg,
    rgba(189, 255, 83, 1) 0%,
    rgba(43, 250, 82, 1) 100%
  );
}

.number-slide4 {
  background: rgb(64, 255, 242);
  background: linear-gradient(
    128deg,
    rgba(64, 255, 242, 1) 0%,
    rgba(63, 188, 255, 1) 100%
  );
}

.number-slide5 {
  background: rgb(255, 64, 156);
  background: linear-gradient(
    128deg,
    rgba(255, 64, 156, 1) 0%,
    rgba(255, 63, 63, 1) 100%
  );
}

.number-slide6 {
  background: rgb(64, 76, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 76, 255, 1) 0%,
    rgba(174, 63, 255, 1) 100%
  );
}

.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #000;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: -10px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}

.ant-spin-dot-item {
  color: #fcb941;
}

.ant-table-cell:hover {
  background-color: transparent !important; /* Disables hover background */
}

.ant-upload.ant-upload-select {
  width: 275px !important;
  height: 205px !important;
}
/* Customize Slider track, handle, and other elements */
.custom-slider .ant-slider-track {
  background-color: #facc15 !important; /* Yellow track */
}

.custom-slider .ant-slider-handle {
  border-color: #facc15 !important; /* Yellow handle */
}

.custom-slider .ant-slider:hover .ant-slider-track {
  background-color: #eab308 !important; /* Darker yellow on hover */
}

.custom-slider .ant-slider:hover .ant-slider-handle {
  border-color: #eab308 !important; /* Darker yellow handle on hover */
}
:where(.css-dev-only-do-not-override-apn68).ant-slider
  .ant-slider-handle::before {
  border-color: #eab308 !important; /* Darker yellow handle on hover */
}
:where(.css-dev-only-do-not-override-apn68).ant-slider
  .ant-slider-handle::after {
  background-color: #eab308;
  box-shadow: 0 0 0 2px #eab308;
}
:where(.css-dev-only-do-not-override-apn68).ant-slider
  .ant-slider-handle:hover::after,
:where(.css-dev-only-do-not-override-apn68).ant-slider
  .ant-slider-handle:active::after,
:where(.css-dev-only-do-not-override-apn68).ant-slider
  .ant-slider-handle:focus::after {
  box-shadow: 0 0 0 2.5px #eab308;
  outline: none;
}
// --------------ẨN NUMBER TYPE NUMBER--------------
/* Dành cho trình duyệt Webkit */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Dành cho Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

// --------------ẨN SCROLL CART--------------
.custom-scrollbar::-webkit-scrollbar {
  display: none; /* Ẩn thanh cuộn */
}

.custom-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
// --------------CUSTOME-SELECT PROFILE--------------
.custom-select-product {
  height: 30px !important;
  width: 180px !important;
  @media (min-width: 1537px) {
    height: 43px !important;
  }
  & .ant-select-selector {
    padding: 8.5px 12px !important;
    background-color: #fafafa !important;
    border: none !important;
    box-shadow: none !important;
  }
}
.custom-select {
  height: 40px !important;
  & .ant-select-selector {
    padding: 8.5px 12px !important;
    background-color: #fafafa !important;
    border: none !important;
    box-shadow: none !important;
  }
}

.no-scroll {
  overflow-y: hidden;
}

// CUSTOMIZE PANIGATION
.panigation-product-page {
  & .ant-pagination-item-active {
    border-color: #fcb941 !important;
    a {
      color: #fcb941 !important;
    }
  }
}
